<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!--Stef Van Gool r0740461-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css%22%3E">
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
    <title>Supermarkt</title>
</head>
<body>
<h1>We hebben deze afdeling voor jou gevonden:</h1>
<h1 th:text="${afdeling.getNaam()}"></h1>
<p th:if="${afdeling.isGekoeld() == true}" th:text="${afdeling.getNaam()} + ' - Gekoelde afdeling'"></p>
<p th:unless="${afdeling.isGekoeld() == true}" th:text="${afdeling.getNaam()} + ' - Geen koeling'"></p>
<p th:text="'Verantwoordelijke: ' + ${afdeling.getVerantwoordelijke().getVoornaam()} + ' ' + ${afdeling.getVerantwoordelijke().getFamilienaam()}"></p>
<p><img onerror="this.src='img/niet.jpg'" th:src="@{${afdeling.getFoto()}}"></p>
<p><a href="/">Terug naar de startpagina</a></p>
</body>
</html>