<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<!--Stef Van Gool r0740461-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css%22%3E">
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
    <title>Supermarkt</title>
</head>
<body>
<h1>Supermarkten databank</h1>
<h1>Stef Van Gool</h1>
<p><a href="/0_Wedde">Examen: Overzicht personeelsleden MET wedde</a></p>
<p><a href="/1_NieuweKlant">Nieuwe klant</a></p>
<p><a href="/3_NieuwPersoneelslid">Nieuw personeelslid</a></p>
<p><a href="/5_Personeel">Personeel</a></p>
<p><a href="/6_Klanten">Onze klanten</a></p>
<p><a href="/7_NieuweSupermarkt">Nieuwe supermarkt</a></p>
<p><a href="/8_Supermarkten">Overzicht supermarkten</a></p>
<p><a href="/9_NieuweAfdeling">Nieuwe afdeling</a></p>

<form action="/11_ZoekAfdeling">
    <div>
        <label for="afdeling">Afdeling:</label>
        <input id="afdeling" name="afdeling" class="rounded bg-light" type="text">
    </div>

    <div>
        <button type="submit">Zoek afdeling</button>
    </div>
</form>
</body>
</html>